@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Lato:wght@300;400;700&display=swap');
h1.logo{
	font-family: 'Cookie';
	font-size: 50px;
	color: #2a2b6e;
	width: 30%;
	margin-top: 0;
}
body, p, span, h1, h2, h3, h4, h5, h6, ul, li, a{
	font-family: 'Lato';
}
a{
	color: #ffffff;
}
body {
    background: hsla(286, 48%, 91%, 1);
    background: linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(349, 25%, 61%, 1) 0%, hsla(247, 17%, 39%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(349, 25%, 61%, 1) 0%, hsla(247, 17%, 39%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(286, 48%, 91%, 1) 0%, hsla(349, 25%, 61%, 1) 0%, hsla(247, 17%, 39%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EEDDF3", endColorstr="#B4828B", GradientType=1);

}
header {
    padding: 25px;
    text-align: center;
}
.container {
    width: 100%;
}
h2.page-heading {
    margin-top: 0;
    text-align: center;
    color: #2a2b6e;
}
form {
    width: 60%;
    margin: 0 auto;
	text-align: center;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 285px;
    padding: 5px 10px;
    font-size: 15px;
}
button {
    background: #337ab7;
    border: 1px solid #337ab7;
    color: #fff;
    padding: 1px 10px;
    border-radius: 6px;
    font-size: 15px;
}
.menu{
	width: 70%;
	list-style-type: none;
	margin-top: 15px;
}
.menu ul li{
	float: left;
}
.head-row {
    display: flex;
}
.menu li {
    width: 12%;
	color: #169a5a;
    float: left;
	line-height: 30px;
	margin-right: 5px;
	cursor: pointer;
	text-transform: uppercase;
}
.menu li a{ 
    color: #ffffff;
    font-size: 15px;
	text-decoration: none;
}
.menu li:hover, .menu li.active{
  
     color: #337ab7;
}
.menu li:hover > a, .menu li.active a {
    color: #337ab7;
}
input.gender {
    width: 10px;
}
.car{
	width: 100%;
}
.car-details,
.user-details{
	padding: 20px;
	text-align: center;
}
.car-details .details,
.user-details .details{
	background: #169a5a;
	width: 100%;
    float: left;
}
.car-details .details div{
    width: calc(14.28% - 40px);
}
.car-details .details div,
.user-details .details div {
    float: left;
    padding: 20px;
}
.book a, .edit-user a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
}
.book a:hover, .edit-user a:hover {
    text-decoration: underline;
}
img.user {
    border-radius: 50%;
    margin-bottom: 30px;
    max-width: 250px;
}
.logout{
    text-align: right;

}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 5px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #337ab7;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}


























